/* Open Props */
@import "https://unpkg.com/open-props";

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  /*border: 10px lime solid;*/
  justify-content: center;
  align-items: center;
  background-image: url('./assets/kirokaze.gif'); /*https://www.behance.net/gallery/36812305/Fishing-gif-animation*/
  background-repeat: no-repeat;
  background-size: cover;
}

.pokedex {
  /*border: 10px pink solid;*/
  display: grid;
  grid-template: repeat(26, min(25px, 4vw)) / repeat(26, min(25px, 4vw));
}

/*
.pokedex_mobile {
  display: none;
}
*/

/*red base*/

/*
.base {
  background: var(--red-8);
  grid-area: 2 / 2 / span 24 / span 24;
}
*/

.base__left {
  background: red;
  grid-area: 2 / 2 / span 24 / span 12;
}

.base__right-left {
  background: red;
  grid-area: 5 / 15 / span 21 / span 5;
}

.base__right-column {
  background: red;
  grid-area: 6 / 20 / span 20 / span 1;
}

.base__right-right {
  background: red;
  grid-area: 7 / 21 / span 19 / span 5;
}

/*top right white*/

/*
.top-right__top {
  background: white;
  grid-area: 2 / 15 / span 2 / span 11;
}

.top-right__pixel {
  background: white;
  grid-area: 4 / 20 / span 1 / span 1;
}

.top-right__bottom {
  background: white;
  grid-area: 4 / 21 / span 2 / span 5;
}
*/

/*border*/

.border__top {
  background: black;
  grid-area: 1 / 2 / span 1 / span 13; 
}

.border__right {
  background: black;
  grid-area: 6 / 26 / span 20 / span 1; 
}

.border__bottom1 {
  background: black;
  grid-area: 26 / 2 / span 1 / span 13; 
}

.border__bottom2 {
  background: black;
  grid-area: 26 / 15 / span 1 / span 11;
}

.border__left {
  background: black;
  grid-area: 2 / 1 / span 24 / span 1;
}

.border__detail1 {
  background: black;
  grid-area: 2 / 14 / span 3 / span 1;
}

.border__detail2 {
  background: black;
  grid-area: 4 / 15 / span 1 / span 5;
}

.border__detail3 {
  background: black;
  grid-area: 6 / 21 / span 1 / span 5;
}

.border__detail4 {
  background: black;
  grid-area: 5 / 20 / span 1 / span 1;
}

/*blue button*/

.blue-button__bg {
  background: var(--blue-9);
  grid-area: 3 / 3 / span 3 / span 3;
}

.blue-button__column {
  background: var(--blue-4);
  grid-area: 3 / 4 / span 3 / span 1;
}

.blue-button__row {
  background: var(--blue-4);
  grid-area: 4 / 3 / span 1 / span 3;
}

.blue-button__center {
  background: var(--gray-4);
  grid-area: 4 / 4 / span 1 / span 1;
}

/*red yellow green*/

.ryg__red {
  background: var(--red-10);
  grid-area: 3 / 8 / span 1 / span 1;
}

.ryg__yellow {
  background: var(--yellow-4);
  grid-area: 3 / 9 / span 1 / span 1;
}

.ryg__green {
  background: var(--green-7);
  grid-area: 3 / 10 / span 1 / span 1;
}

/*red detail*/

.shadow__top {
  background: var(--red-12);
  grid-area: 5 / 9 / span 1 / span 4;
}

.shadow__pixel {
  background: var(--red-12);
  grid-area: 6 / 8 / span 1 / span 1;
}

.shadow__bottom {
  background: var(--red-12);
  grid-area: 7 / 2 / span 1 / span 6;
}

/*big screen*/

.big-screen__bg {
  background: var(--gray-4);
  grid-area: 9 / 3 / span 10 / span 9;
}

.big-screen__display {
  background: black;
  grid-area: 10 / 4 / span 7 / span 7;
}

.big-screen__pixel {
  background: var(--gray-5);
  grid-area: 18 / 3 / span 1 / span 1;
}

.big-screen__button-red {
  background: var(--red-9);
  grid-area: 18 / 5 / span 1 / span 1;
}

.big-screen__button-gray {
  background: var(--gray-6);
  grid-area: 18 / 9 / span 1 / span 2;
}

.big-screen__bottom {
  background: var(--gray-5);
  grid-area: 19 / 4 / span 1 / span 8;
}

/*mauve blue*/

.mauve-blue__mauve {
  background: var(--pink-9);
  grid-area: 21 / 5 / span 1 / span 2;
}

.mauve-blue__blue {
  background: var(--blue-8);
  grid-area: 21 / 7 / span 1 / span 2;
}

/*bottom buttons, left*/

.buttons-left__black {
  background: black;
  grid-area: 22 / 3 / span 1 / span 1;
}

.buttons-left__green {
  background: var(--green-6);
  grid-area: 23 / 5 / span 2 / span 3;
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}

.buttons-left__column {
  background: var(--teal-12);
  grid-area: 22 / 10 / span 3 / span 1;
}

.buttons-left__row {
  background: var(--teal-12);
  grid-area: 23 / 9 / span 1 / span 3;
}

.buttons-left__center {
  background: black;
  grid-area: 23 / 10 / span 1 / span 1;
}

/*middle detail*/

.middle__column {
  background: var(--red-12);
  grid-area: 5 / 14 / span 21 / span 1;
}

.middle__brown-top {
  background: var(--pink-12);
  grid-area: 7 / 13 / span 1 / span 1;
}

.middle__black-top {
  background: black;
  grid-area: 7 / 14 / span 1 / span 1;
}

.middle__brown-bottom {
  background: var(--pink-12);
  grid-area: 23 / 13 / span 1 / span 1;
}

.middle__black-bottom {
  background: black;
  grid-area: 23 / 14 / span 1 / span 1;
}

/*screens, right*/

.screen-right__black {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  grid-area: 9 / 16 / span 4 / span 9;  
}

.screen-right__black h2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8rem, 2.7vw, 1.1rem);
}

.screen-right__black div {
  border: 5px lime solid;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.screen-right__black div p:first-child {
  border: 5px lime solid;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-right__black div p:last-child {
  border: 5px lime solid;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-right__blue {
  background: var(--blue-5);
  grid-area: 14 / 16 / span 3 / span 9;
}

/*black buttons*/

.black-button__left {
  background: black;
  grid-area: 18 / 20 / span 1 / span 2;
}

.black-button__right {
  background: black;
  grid-area: 18 / 23 / span 1 / span 2;
}

/*bottom buttons, right*/

.buttons-right__gray {
  background: var(--gray-4);
  grid-area: 20 / 16 / span 2 / span 3;
}

.buttons-right__yellow {
  background: var(--yellow-4);
  grid-area: 20 / 24 / span 1 / span 1;
}

.buttons-right__teal-left {
  background: var(--teal-12);
  grid-area: 23 / 16 / span 2 / span 4;
}

.buttons-right__teal-right {
  background: var(--teal-12);
  grid-area: 23 / 21 / span 2 / span 4;
}


/*media query*/

@media (max-width: 450px) {  

  .pokedex {
    display: grid;
    grid-template: repeat(26, min(25px, 5vw)) / repeat(14, min(25px, 5vw));
  }

  .buttons-left__green {
    background: var(--green-6);
    grid-area: 23 / 5 / span 2 / span 3;
    font-size: 2.7vw;
  }

  .base__right-left {
    display: none;
  }
  
  .base__right-column {
    display: none;
  }
  
  .base__right-right {
    display: none;
  }

  .border__right {
    display: none; 
  }

  .border__bottom2 {
    display: none;
  }

  .border__detail2 {
    display: none;
  }
  
  .border__detail3 {
    display: none;
  }
  
  .border__detail4 {
    display: none;
  }

  .screen-right__black {
    display: none;
  }
  
  .screen-right__blue {
    display: none;
  }

  .black-button__left {
    display: none;
  }
  
  .black-button__right {
    display: none;
  }

  .buttons-right__gray {
    display: none;
  }
  
  .buttons-right__yellow {
    display: none;
  }
  
  .buttons-right__teal-left {
    display: none;
  }
  
  .buttons-right__teal-right {
    display: none;
  }  

  /*
  .pokedex_desktop {
    display: none;
  }

  .pokedex_mobile {
    display: grid;
    grid-template: repeat(26, 25px) / repeat(14, 25px);
  }

  .m-base {
    background: var(--red-8);
    grid-area: 2 / 2 / span 24 / span 13;
  }


  .m-border__top {
    background: black;
    grid-area: 1 / 2 / span 1 / span 13; 
  }

  .m-border__bottom {
    background: black;
    grid-area: 26 / 2 / span 1 / span 13;
  }

  .m-border__left {
    background: black;
    grid-area: 2 / 1 / span 24 / span 1;
  }

  .m-border__detail1 {
    background: black;
    grid-area: 2 / 14 / span 3 / span 1;
  }


  .m-blue-button__bg {
    background: var(--blue-9);
    grid-area: 3 / 3 / span 3 / span 3;
  }

  .m-blue-button__column {
    background: var(--blue-4);
    grid-area: 3 / 4 / span 3 / span 1;
  }

  .m-blue-button__row {
    background: var(--blue-4);
    grid-area: 4 / 3 / span 1 / span 3;
  }

  .m-blue-button__center {
    background: var(--gray-4);
    grid-area: 4 / 4 / span 1 / span 1;
  }


  .m-ryg__red {
    background: var(--red-10);
    grid-area: 3 / 8 / span 1 / span 1;
  }

  .m-ryg__yellow {
    background: var(--yellow-4);
    grid-area: 3 / 9 / span 1 / span 1;
  }

  .m-ryg__green {
    background: var(--green-7);
    grid-area: 3 / 10 / span 1 / span 1;
  }


  .m-shadow__top {
    background: var(--red-12);
    grid-area: 5 / 9 / span 1 / span 4;
  }

  .m-shadow__pixel {
    background: var(--red-12);
    grid-area: 6 / 8 / span 1 / span 1;
  }

  .m-shadow__bottom {
    background: var(--red-12);
    grid-area: 7 / 2 / span 1 / span 6;
  }


  .m-big-screen__bg {
    background: var(--gray-4);
    grid-area: 9 / 3 / span 10 / span 9;
  }

  .m-big-screen__display {
    background: black;
    grid-area: 10 / 4 / span 7 / span 7;
  }

  .m-big-screen__pixel {
    background: var(--gray-5);
    grid-area: 18 / 3 / span 1 / span 1;
  }

  .m-big-screen__button-red {
    background: var(--red-9);
    grid-area: 18 / 5 / span 1 / span 1;
  }

  .m-big-screen__button-gray {
    background: var(--gray-6);
    grid-area: 18 / 9 / span 1 / span 2;
  }

  .m-big-screen__bottom {
    background: var(--gray-5);
    grid-area: 19 / 4 / span 1 / span 8;
  }


  .m-mauve-blue__mauve {
    background: var(--pink-9);
    grid-area: 21 / 5 / span 1 / span 2;
  }

  .m-mauve-blue__blue {
    background: var(--blue-8);
    grid-area: 21 / 7 / span 1 / span 2;
  }


  .m-buttons-left__black {
    background: black;
    grid-area: 22 / 3 / span 1 / span 1;
  }

  .m-buttons-left__green {
    background: var(--green-6);
    grid-area: 23 / 5 / span 2 / span 3;
  }

  .m-buttons-left__column {
    background: var(--teal-12);
    grid-area: 22 / 10 / span 3 / span 1;
  }

  .m-buttons-left__row {
    background: var(--teal-12);
    grid-area: 23 / 9 / span 1 / span 3;
  }

  .m-buttons-left__center {
    background: black;
    grid-area: 23 / 10 / span 1 / span 1;
  }


  .m-middle__column {
    background: var(--red-12);
    grid-area: 5 / 14 / span 21 / span 1;
  }

  .m-middle__brown-top {
    background: var(--pink-12);
    grid-area: 7 / 13 / span 1 / span 1;
  }

  .m-middle__black-top {
    background: black;
    grid-area: 7 / 14 / span 1 / span 1;
  }

  .m-middle__brown-bottom {
    background: var(--pink-12);
    grid-area: 23 / 13 / span 1 / span 1;
  }

  .m-middle__black-bottom {
    background: black;
    grid-area: 23 / 14 / span 1 / span 1;
  }
  */
}